.fakeimg {
  height: 200px;
  background: #aaa;
}

h1,
h1 a,
h1 a:visited {
  font-family: Georgia, arial, serif;
  font-size: 48px;
}

h1 a,
h1 a:visited {
  color: #605833;
  font-family: Georgia, arial, serif;
}

h1 a:hover {
  color: #92864d;
  text-decoration: none;
}

a,
a:visited {
  font-family: Enriqueta;
  font-size: 16px;
  color: #92864d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #605833;
  font-family: Enriqueta;
  font-size: 26px;
  padding: 10px 0;
}

.post-info {
  border-top: 1px dashed #70673b;
  border-bottom: 1px dashed #70673b;
  font-size: 13px;
  margin: 15px 0 15px;
  padding: 3px;
  text-transform: uppercase;
  color: #7a819e;
}

a.read-more {
  background-color: #605833;
  border-radius: 5px 5px 5px 5px;
  color: white;
  float: right;
  font-family: Enriqueta, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 3px 10px;
}

a.read-more:hover {
  background-color: #92864d;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

span {
  font-style: italic;
}

.img {
  height: 350px;
  background-image: url("city.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.nav-color {
  background-color: #8b9cae;
}

h1.display-2 {
  font-family: Georgia, arial, serif;
  font-size: 28px;
}
